@tailwind base;
@tailwind components;
@tailwind utilities;

.editable-form::-webkit-scrollbar {
    width: 5px;
    
  }
  .editable-form::-webkit-scrollbar-track {
    background: red; 
    border-radius: 10px;
  }
